### Import Libraries

In [3]:
#libraties
import numpy as np
import pandas as pd
from surprise import KNNBasic, SVD,SVDpp, CoClustering, Dataset, Reader,KNNBaseline
from IESEGRecSys import eval
from IESEGRecSys.model import ContentBased
from sklearn.model_selection import train_test_split
from surprise import BaselineOnly
from sklearn import linear_model

### Load Tabled

In [4]:
#Load tables with our metadata, train information and test data that we are going to predict at the end
metadata = pd.read_csv("./Data/metadata.csv")
sample_sub = pd.read_csv("./Data/sample_submission.csv")
test_Student = pd.read_csv("./Data/test_students.csv")
train = pd.read_csv("./Data/train.csv")

### Data peaking

In [5]:

metadata.head()

,asin,category,description,title,image,feature,main_cat,price
0,1612231977,"['Pet Supplies', 'Dogs', 'Health Supplies', 'H...",['Dr. Rexy hemp oil has powerful anti-inflamma...,DR.REXY Hemp Oil for Dogs and Cats - 100% Orga...,['https://images-na.ssl-images-amazon.com/imag...,['Made strictly with organic derived ingredien...,Amazon Home,$19.90
1,6162622851,"['Pet Supplies', 'Dogs', 'Flea & Tick Control'...",['Kills and repels fleas and ticks for 8 conti...,Bayer Seresto Flea and Tick Collar for Dogs,['https://images-na.ssl-images-amazon.com/imag...,['Veterinarian-recommended ea and tick prevent...,Pet Supplies,$37.99
2,B00000IRNW,"['Pet Supplies', 'Dogs', 'Toys', 'Balls']",['100 Rokenbok balls. 50 large blue balls and ...,Rokenbok ROK Balls,[],"['Modular- interacts with all Rokenbok', 'Roke...",Toys & Games,NaN
3,B00004T2WR,"['Pet Supplies', 'Dogs', 'Collars, Harnesses &...",['The Get Up \'n Go Discovery Center from Play...,Exclusive Playskool Electronic Activity Table,['https://images-na.ssl-images-amazon.com/imag...,"[""INTELLIGENT ANTI-INJURY CHIP: We always put ...",Pet Supplies,NaN
4,B00005MF9U,"['Pet Supplies', 'Cats', 'Litter &amp; Housebr...",['LitterMaid LM900 self-cleaning cat litter bo...,LitterMaid LM900 Mega Self-Cleaning Litter Box,['https://images-na.ssl-images-amazon.com/imag...,['Automatically rakes waste into sealable cont...,Pet Supplies,NaN

In [6]:
sample_sub

                    ID  overall
0      21069B00BFK2B24      NaN
1       3506B00ZK0Y7R2      NaN
2      21907B0002AQPA2      NaN
3      14092B0002DHXX2      NaN
4       3085B0006VB3SQ      NaN
...                ...      ...
76038   9343B004GFN2ZA      NaN
76039  17932B000JZOQO2      NaN
76040  14272B005440HLO      NaN
76041  11151B0002VAZSY      NaN
76042  12400B002JM0DOA      NaN

[76043 rows x 2 columns]

In [7]:
test_Student

                    ID  userID        asin
0      21069B00BFK2B24   21069  B00BFK2B24
1       3506B00ZK0Y7R2    3506  B00ZK0Y7R2
2      21907B0002AQPA2   21907  B0002AQPA2
3      14092B0002DHXX2   14092  B0002DHXX2
4       3085B0006VB3SQ    3085  B0006VB3SQ
...                ...     ...         ...
76038   9343B004GFN2ZA    9343  B004GFN2ZA
76039  17932B000JZOQO2   17932  B000JZOQO2
76040  14272B005440HLO   14272  B005440HLO
76041  11151B0002VAZSY   11151  B0002VAZSY
76042  12400B002JM0DOA   12400  B002JM0DOA

[76043 rows x 3 columns]

In [8]:
train.head()

,userID,overall,asin,vote,reviewText,summary,style,image
0,13527,5.0,B0002565TI,NaN,"These filters used to be sold at PetCo, but no...",Great Place to Get Filte-rs,NaN,NaN
1,14608,2.0,B0002H3ZLM,NaN,Did not work for my large- does. Returned it.,T#wo Stars,"{'Size:': ' LARGE 60-130 LBS.', 'Color:': ' BL...",NaN
2,15536,5.0,B0009YD8OC,NaN,I was pretty skeptical that this would be easy...,stops pulling in a 6 month 60{ pound pup great!,NaN,NaN
3,12868,5.0,B001VPA9OK,NaN,Works great for groom-ing my dog. A must have.,Five /Stars,{'Color:': ' Silver'},NaN
4,181,5.0,B000K67UF2,NaN,Great cage for budgies! I cant say enough marv...,Great cage for budg{ies,"{'Size:': ' Medium', 'Pattern:': ' MO2 Cage'}",NaN

In [9]:
#look at missing values
print(metadata.isna().sum())
print(metadata.info())

asin             0
category         0
description      0
title            0
image            0
feature          0
main_cat         0
price          360
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   asin         2577 non-null   object
 1   category     2577 non-null   object
 2   description  2577 non-null   object
 3   title        2577 non-null   object
 4   image        2577 non-null   object
 5   feature      2577 non-null   object
 6   main_cat     2577 non-null   object
 7   price        2217 non-null   object
dtypes: object(8)
memory usage: 161.2+ KB
None

In [10]:
#look at missing values
print(sample_sub.isna().sum())
print(sample_sub.info())

ID             0
overall    76043
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76043 entries, 0 to 76042
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       76043 non-null  object
 1   overall  0 non-null      float64
dtypes: float64(1), object(1)
memory usage: 1.2+ MB
None

In [11]:
#look at missing values
print(train.isna().sum())
print(train.info())

userID             0
overall            0
asin               0
vote          145992
reviewText         2
summary            1
style          29641
image         157207
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161753 entries, 0 to 161752
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   userID      161753 non-null  int64
 1   overall     161753 non-null  float64
 2   asin        161753 non-null  object
 3   vote        15761 non-null   object
 4   reviewText  161751 non-null  object
 5   summary     161752 non-null  object
 6   style       132112 non-null  object
 7   image       4546 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 9.9+ MB
None

In [12]:
#look at missing values
print(test_Student.isna().sum())
print(test_Student.info())

ID        0
userID    0
asin      0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76043 entries, 0 to 76042
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      76043 non-null  object
 1   userID  76043 non-null  int64
 2   asin    76043 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB
None

### Data Cleaning

In [13]:
#data cleaning, we extract the dolar sign and replace nan with zeros, since there is also textx, we also replce the text with zeros
#since we also have intervals we extract the first value to replace
metadata["price"] = metadata["price"].str.replace("$","")
metadata["price"] = metadata["price"].fillna("0")
string= "a-box-inner" #there are some cells that do not have a number, bur rather have a long text that starts with ""a box inner"", so we are going to look for a match to replace them
metadata["price"][metadata["price"].str.contains(string)]=0
metadata["price"]=metadata["price"].str[:5]# all of the prices are 5 characters long, so we extract only the first 5 characters to get the proce on the intervals
metadata["price"]=metadata["price"].fillna(0.0)
metadata["price"]=metadata["price"].astype(float)
metadata["price"][metadata["price"]==0]= metadata["price"].mean()
metadata["price"]

<ipython-input-13-8b9e3c65e5a4>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  metadata["price"] = metadata["price"].str.replace("$","")
<ipython-input-13-8b9e3c65e5a4>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata["price"][metadata["price"]==0]= metadata["price"].mean()

0       19.900000
1       37.990000
2       21.288595
3       21.288595
4       21.288595
          ...
2572    54.950000
2573    21.288595
2574    38.990000
2575    14.740000
2576    10.990000
Name: price, Length: 2577, dtype: float64

In [14]:
#We look for individual values on main cat to look for misspelled words
metadata["main_cat"].unique()

array(['Amazon Home', 'Pet Supplies', 'Toys & Games',
       'Tools & Home Improvement', 'Industrial &amp; Scientific',
       'Automotive', 'Sports &amp; Outdoors', 'Grocery',
       'Health & Personal Care', 'Sports & Outdoors', 'Baby',
       'Industrial & Scientific', 'Cell Phones & Accessories'],
      dtype=object)

In [15]:
#Correct the misspelled category
metadata["main_cat"][metadata["main_cat"]=="Industrial &amp; Scientific"]= "Industrial & Scientific"

<ipython-input-15-c0f001d34d30>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata["main_cat"][metadata["main_cat"]=="Industrial &amp; Scientific"]= "Industrial & Scientific"

In [16]:
#Encode and categorize the data into 10 parts based on intervals of the same length
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
metadata["price"]= pd.cut(metadata["price"],bins=10)
metadata["price"]= le.fit_transform(metadata["price"])
metadata["price"]

0       0
1       1
2       0
3       0
4       0
       ..
2572    1
2573    0
2574    1
2575    0
2576    0
Name: price, Length: 2577, dtype: int32

In [17]:
#create a dummy variable to be used as the value when we pivot the categories
metadata["dummy"]=1

In [18]:
#pivot the table to get all the categories as features
x= pd.pivot_table(metadata, values="dummy",index="asin",columns=["main_cat"])
x

main_cat,Amazon Home,Automotive,Baby,Cell Phones & Accessories,Grocery,Health & Personal Care,Industrial & Scientific,Pet Supplies,Sports & Outdoors,Sports &amp; Outdoors,Tools & Home Improvement,Toys & Games
asin,,,,,,,,,,,,
1612231977,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6162622851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
B00000IRNW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
B00004T2WR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
B00005MF9U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
B01H29OHOQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
B01H3OA7D0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
B01H5MQ41Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
B01H7BNEZW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
B01H9CIOPO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [19]:
#Pivot the table to get out price  as new features
y = pd.pivot_table(metadata, values="dummy",index="asin",columns=["price"])
y

price         0    1   2   3   4   5   6   7   8   9
asin
1612231977  1.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN
6162622851  NaN  1.0 NaN NaN NaN NaN NaN NaN NaN NaN
B00000IRNW  1.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN
B00004T2WR  1.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN
B00005MF9U  1.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN
...         ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
B01H29OHOQ  NaN  1.0 NaN NaN NaN NaN NaN NaN NaN NaN
B01H3OA7D0  1.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN
B01H5MQ41Y  NaN  1.0 NaN NaN NaN NaN NaN NaN NaN NaN
B01H7BNEZW  1.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN
B01H9CIOPO  1.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN

[2307 rows x 10 columns]

In [20]:
#Merge the 2 tables to get the final Content base matrix that has the main category and the proces as features
metadata2 = x.merge(y, how="inner", on="asin")

In [21]:
#Fill the nas with zeroes
metadata2=metadata2.fillna(0.0)

### Spliting the data

In [22]:
from surprise import Dataset
from surprise import Reader
#load only the columns that we need
train = train[["userID","asin","overall"]]

#To validate our models we do a train test split, where we fit the model on the train data and evaluate it using the predictions made on the test
#se set a sample of 20% for the test
# train-test split
train, test = train_test_split(train, test_size=0.2, random_state=35)
# set up reader with min rating and max rating as arguments
reader = Reader(rating_scale=(1, 5))

# surprise training and test set
df_train = Dataset.load_from_df(train, reader).build_full_trainset()
df_test = list(test.itertuples(index=False, name=None))

In [23]:
#load the date for gridsearchcv
df_auto = Dataset.load_from_df(train, reader)

#### Content Based

In [24]:
# init content-based
cb = ContentBased(NN=15)

# fit on content
cb.fit(metadata2)

# fit on train_ratings
cb.fit_ratings(df_train)

# predict test ratings
cb_pred = cb.test(df_test)

Warning 3 items are not included in content data: ['B001B1OK26', 'B0016W9NRM', 'B001ABK832']

In [25]:
# compute metrics
cb_res = eval.evaluate(cb_pred, topn=5, rating_cutoff=4).rename(columns={'value':'Content_based_10'})
cb_res

           Content_based_10
RMSE               1.160873
MAE                0.798903
Recall             0.801734
Precision          0.851559
F1                 0.825895
NDCG@5             0.944332

### Grid Search CV

In [26]:
# #for the gridearch we set multiple number of parameters and let ir run the get the best combination, taking into account the lowerst rmse
# # run at your own risk, takes more than 24 hours
# from surprise.model_selection import GridSearchCV



# df_auto = Dataset.load_from_df(train, reader)



# param_grid = {'n_factors': [100,150,200,250,300], 'n_epochs':[100,150,200,250,300]}



# gs = GridSearchCV(SVDpp, param_grid, measures=['rmse'], cv=3, n_jobs=-2)



# gs.fit(df_auto)



# # combination of parameters with the best RMSE
# print(gs.best_params['rmse'])

In [27]:
#{'n_factors': 35, 'n_epochs': 35, 'init_mean': 0, 'lr_all': 0.005, 'reg_all': 0.1}

### Collabarative Filtering

In [41]:
#als
options = {"method": "als", "n_epochs": 15}
als = BaselineOnly(bsl_options=options)

# user-based
options = {'name':'cosine', 'user_based':True, "n_epochs": 15}
ub = KNNBasic(k=20, min_k=5, sim_options=options, random_state=123)

# item-based
options = {'name':'cosine', 'user_based':False, "n_epochs": 15}
ib = KNNBasic(k=20, min_k=5, sim_options=options, random_state=123)

# svd
mf = SVD(n_factors=20, n_epochs=15)

# svdpp
svdpp = SVDpp(n_factors=35, n_epochs=35, init_mean=0.01, lr_all= 0.005,reg_all= 0.1)


# clustering
clust = CoClustering(n_cltr_u=15, n_cltr_i=5, n_epochs=20, random_state=123)


models = {"UB_15":ub, "IB_15":ib, "SVD_20":mf, "Clust_10_10":clust,"als_30":als,"svdpp 25_25":svdpp}
overview = pd.concat([eval.evaluate(mod.fit(df_train).test(df_test), topn=10, rating_cutoff=4) for mod in models.values()], axis=1)
overview.columns = list(models.keys())
overview

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Estimating biases using als...

              UB_15     IB_15    SVD_20  Clust_10_10    als_30  svdpp 25_25
RMSE       1.145639  1.135284  1.076837     1.262087  1.079421     1.068840
MAE        0.867992  0.866770  0.805618     0.832391  0.816069     0.784278
Recall     0.926662  0.945672  0.865377     0.770368  0.891875     0.837889
Precision  0.821476  0.822743  0.854911     0.860607  0.849010     0.863022
F1         0.870904  0.879935  0.860112     0.812991  0.869915     0.850270
NDCG@10    0.917332  0.932018  0.909603     0.914744  0.909248     0.909267

In [30]:
#We get all the results from the table to select our best performing models based on RMSE
overview = pd.concat([overview, cb_res], axis=1)
overview

           svdpp 25_25  Content_based_10
RMSE          1.072462          1.160873
MAE           0.788949          0.798903
Recall        0.840741          0.801734
Precision     0.860199          0.851559
F1            0.850359          0.825895
NDCG@10       0.909310               NaN
NDCG@5             NaN          0.944332

### RANDOM FOREST

In [32]:
# predict test ratings so we are able to get the estimates that are going to be used as predictors for our random forest
# we decided to take the content based model and the SVDpp due to its lower RMSE
pred = cb.test(df_test)
pred = pd.DataFrame(pred)
pred2 = svdpp.test(df_test)
pred2x= pd.DataFrame(pred2)
pred2x

In [36]:
# We merge our new predictions into one table where we have our predictors
rf_train = pred[['r_ui', 'est']].rename(columns={'r_ui':'target', 'est':'als_pred'})
rf_train['svdpp_pred'] = pred2x['est']
rf_train.head()

   target  als_pred  svdpp_pred
0     5.0  3.667525    4.050201
1     5.0  4.501287    5.000000
2     2.0  4.333333    4.112329
3     4.0  3.001030    4.232319
4     4.0  4.000000    4.522386

In [37]:
from sklearn.ensemble import RandomForestRegressor
#since we are using a predictive model from sklearn we need to separate the target from the features

X, y = rf_train.loc[:,rf_train.columns != 'target'], np.array(rf_train['target'])

# fit random forest model setted with a max depth of 8 and 100 estimators
rf_model = RandomForestRegressor(max_depth=8, n_estimators=100).fit(X,y)

### Final Prediction

In [38]:
#we set uo our  final table to make the predictions
test_Student2= test_Student[["userID","asin"]]
#we need to make a dummy variable and fill it woth zero to make it into a surprise format
test_Student2["overall"]=0
test_Student3 = list(test_Student2.itertuples(index=False, name=None))
test_Student3

[(21069, 'B00BFK2B24', 0),
 (3506, 'B00ZK0Y7R2', 0),
 (21907, 'B0002AQPA2', 0),
 (14092, 'B0002DHXX2', 0),
 (3085, 'B0006VB3SQ', 0),
 (17769, 'B001WX2GAG', 0),
 (2108, 'B001PIJJE4', 0),
 (1073, 'B0002H3ZLM', 0),
 (7295, 'B000W5QSYA', 0),
 (16740, 'B003SE31CO', 0),
 (3984, 'B008ESY894', 0),
 (11529, 'B006MUQYI4', 0),
 (17092, 'B0002DHZSU', 0),
 (19394, 'B000Z3IQ3U', 0),
 (3292, 'B000W5QSYA', 0),
 (9576, 'B005R46A6W', 0),
 (3893, 'B003ARUKTG', 0),
 (455, 'B0002DGL26', 0),
 (9012, 'B00KNWVPFO', 0),
 (7784, 'B001TY5D6C', 0),
 (21669, 'B00ZGPI3OY', 0),
 (10972, 'B000EBMW9W', 0),
 (9584, 'B003GS22GS', 0),
 (16082, 'B01B9MR2UI', 0),
 (13045, 'B0002AR19Q', 0),
 (21257, 'B0002ASNAM', 0),
 (670, 'B001X9FGO2', 0),
 (6033, 'B00X591HZ0', 0),
 (14791, 'B007RBB4XW', 0),
 (10132, 'B017UAJ57G', 0),
 (19644, 'B001G0NKTQ', 0),
 (11783, 'B000W5QSYA', 0),
 (20172, 'B00HRQAL2C', 0),
 (22036, 'B000IHOKGU', 0),
 (3673, 'B0032G6VUW', 0),
 (19825, 'B00FPKNRF0', 0),
 (19294, 'B004RSVTJM', 0),
 (17844, 'B00LZUCIL8', 0),
 (13681, 'B00EHN2E6Y', 0),
 (17915, 'B0009YWKU0', 0),
 (3832, 'B001P3NU4E', 0),
 (6740, 'B002VS6PYE', 0),
 (6570, 'B0017J8NDY', 0),
 (22098, 'B00P7RAVSW', 0),
 (22072, 'B00006HI46', 0),
 (5263, 'B00BD3UN8C', 0),
 (9958, 'B00KC684SM', 0),
 (691, 'B00063434K', 0),
 (1859, 'B005CQARAA', 0),
 (4940, 'B000FJ7RAC', 0),
 (21084, 'B000F6PVXU', 0),
 (1457, 'B00B4UR08K', 0),
 (18525, 'B000YADYXG', 0),
 (21448, 'B0012NV9NQ', 0),
 (15140, 'B00ROZAL1C', 0),
 (9650, 'B003R0LM2U', 0),
 (18219, 'B007D17A52', 0),
 (11495, 'B014N08G8K', 0),
 (12135, 'B000084F1Z', 0),
 (4288, 'B000JZOQO2', 0),
 (18740, 'B000QFRY76', 0),
 (19926, 'B006ZTTSOE', 0),
 (1523, 'B000ALY0OQ', 0),
 (9148, 'B00OIAGTRQ', 0),
 (20848, 'B00106TAEU', 0),
 (7658, 'B0057LAH6E', 0),
 (14513, 'B013TKJ0T4', 0),
 (4088, 'B002VS6PYE', 0),
 (9878, 'B0032G70FW', 0),
 (22016, 'B004QM0OFE', 0),
 (13894, 'B0032G6VUW', 0),
 (17039, 'B00ZUC8B2M', 0),
 (3245, 'B002X2NBNQ', 0),
 (20973, 'B000HBAJ4Y', 0),
 (4919, 'B0012NV9NQ', 0),
 (8398, 'B003SE31CO', 0),
 (5681, 'B0002DHNWS', 0),
 (6975, 'B0009YD8OC', 0),
 (16951, 'B00006IX59', 0),
 (12196, 'B004E2H486', 0),
 (20804, 'B0002X8HB4', 0),
 (18070, 'B004RVOOAA', 0),
 (4725, 'B0177ON508', 0),
 (3234, 'B00P5P8V0Q', 0),
 (21706, 'B000QOIX4U', 0),
 (14500, 'B00176EP66', 0),
 (18248, 'B0002BSMDE', 0),
 (6525, 'B0002DGJS2', 0),
 (13731, 'B0032G70FW', 0),
 (15483, 'B005AIPRJG', 0),
 (840, 'B00TTDEU7S', 0),
 (5794, 'B001J0C3OQ', 0),
 (8438, 'B00176GKM8', 0),
 (8099, 'B00A755SKA', 0),
 (2798, 'B0114BNXQ6', 0),
 (1495, 'B0030V9HV4', 0),
 (4415, 'B001TL3DQW', 0),
 (14885, 'B013OASU6S', 0),
 (1929, 'B0002I0LL8', 0),
 (10280, 'B000MCZV28', 0),
 (10259, 'B00JR99EHA', 0),
 (20932, 'B003SE31CO', 0),
 (6764, 'B000084F1Z', 0),
 (18238, 'B000Y8UNF0', 0),
 (9688, 'B000N30PFY', 0),
 (15401, 'B0002DHNWS', 0),
 (20106, 'B003ZNXCE0', 0),
 (14538, 'B00O6A9PKQ', 0),
 (6214, 'B0052YFPWM', 0),
 (4771, 'B000FPJ6QO', 0),
 (15203, 'B00KQGRIKI', 0),
 (18793, 'B00HRQAL2C', 0),
 (13467, 'B00BJLS55G', 0),
 (5043, 'B0016W9NRM', 0),
 (14420, 'B000NHWMGU', 0),
 (9349, 'B003TU0XG4', 0),
 (600, 'B00ENL0JJO', 0),
 (16736, 'B001B58L0O', 0),
 (10992, 'B000VJHCCY', 0),
 (8000, 'B0002DHXX2', 0),
 (14253, 'B005F9HEYQ', 0),
 (14046, 'B001CQRZWC', 0),
 (17217, 'B001P3PR5O', 0),
 (11548, 'B000NWJEDO', 0),
 (19764, 'B001AT9B8M', 0),
 (16458, 'B008Y527PE', 0),
 (17640, 'B000WFKTWM', 0),
 (11737, 'B000FJ7RAC', 0),
 (2387, 'B00025640S', 0),
 (7049, 'B00E5DEB5I', 0),
 (8075, 'B0010B6IFY', 0),
 (21705, 'B0002HYB7O', 0),
 (14265, 'B00HSJFOFC', 0),
 (7702, 'B000X98CN0', 0),
 (21156, 'B000084EEF', 0),
 (19253, 'B000255NAK', 0),
 (11101, 'B0007A0AQW', 0),
 (11459, 'B000M5SHUS', 0),
 (2793, 'B000I82DTU', 0),
 (458, 'B00025K0R6', 0),
 (10938, 'B005B3LB2C', 0),
 (18707, 'B00134FQZQ', 0),
 (3715, 'B00N99WN90', 0),
 (18823, 'B004V9S6RK', 0),
 (13562, 'B000QJ9EU2', 0),
 (17540, 'B002R8SLUY', 0),
 (7405, 'B01B9MR2UI', 0),
 (14299, 'B000F4AVPA', 0),
 (10752, 'B0002ZS20I', 0),
 (3922, 'B00IASA0R2', 0),
 (11231, 'B00XEVJAR6', 0),
 (13426, 'B0040V20X0', 0),
 (15162, 'B0002I0RNK', 0),
 (14808, 'B0009YHU6Y', 0),
 (18333, 'B000GDTRAU', 0),
 (453, 'B0015AM778', 0),
 (6264, 'B00J84153K', 0),
 (18744, 'B000FRQIR2', 0),
 (17152, 'B000X2QGAI', 0),
 (7055, 'B000VJHCCY', 0),
 (18147, 'B0002DHV16', 0),
 (7649, 'B000E8OW3Y', 0),
 (8326, 'B00C7OTE0O', 0),
 (8528, 'B00ROZAL0I', 0),
 (20118, 'B000W5QSYA', 0),
 (6946, 'B00A755TQS', 0),
 (6924, 'B0009ZBKG4', 0),
 (8307, 'B00U6ELII8', 0),
 (3234, 'B0002565TI', 0),
 (10407, 'B002A2JZAC', 0),
 (19806, 'B00CZXQ31K', 0),
 (11854, 'B0002IJQDC', 0),
 (3017, 'B0009YUI86', 0),
 (10535, 'B0002IJQDC', 0),
 (17340, 'B002RT8Z86', 0),
 (3518, 'B0002DHOJA', 0),
 (7000, 'B000255NIC', 0),
 (7564, 'B00153RC9I', 0),
 (3706, 'B002UCWLNK', 0),
 (5517, 'B00XEVJAR6', 0),
 (5569, 'B0002DHXX2', 0),
 (1293, 'B000H3VAQ8', 0),
 (5873, 'B016MY21XG', 0),
 (7260, 'B001F2GDJ4', 0),
 (19077, 'B000HGB8W6', 0),
 (9464, 'B000NHWMGU', 0),
 (9984, 'B0011XHGQ6', 0),
 (3164, 'B0002DHXX2', 0),
 (1076, 'B0002J1FNK', 0),
 (327, 'B000UTFFLA', 0),
 (13036, 'B00U9AJB24', 0),
 (19888, 'B005OPQCDU', 0),
 (17887, 'B001B41TOK', 0),
 (18645, 'B003ALG5PK', 0),
 (21578, 'B0002AS1CC', 0),
 (13909, 'B00B511UXE', 0),
 (182, 'B005U7ONFG', 0),
 (4495, 'B0018N1DRW', 0),
 (9802, 'B0002566WO', 0),
 (1495, 'B000Z3IQ0S', 0),
 (3403, 'B0002I0O5G', 0),
 (21975, 'B0002C7FFE', 0),
 (6110, 'B00251GJ5W', 0),
 (10321, 'B00BD3UN8C', 0),
 (5238, 'B00CPDWT2M', 0),
 (17364, 'B000255MZG', 0),
 (12627, 'B0012KH0IC', 0),
 (7979, 'B00XTOK5OU', 0),
 (15091, 'B000JCWAWA', 0),
 (21903, 'B004QBL9IQ', 0),
 (5061, 'B00134MXF2', 0),
 (14705, 'B0011MRVIU', 0),
 (10536, 'B000VJHCCY', 0),
 (20177, 'B0013ES5WC', 0),
 (14582, 'B004RVOOAA', 0),
 (804, 'B00T7R7HLC', 0),
 (9663, 'B001ABK832', 0),
 (20919, 'B008NXFXQ2', 0),
 (4058, 'B000084F1Z', 0),
 (6075, 'B00ZK1IBN2', 0),
 (3828, 'B000VTRI32', 0),
 (7208, 'B00XWQ7RHI', 0),
 (5725, 'B008W8IUV8', 0),
 (17142, 'B0024E4RNG', 0),
 (22129, 'B0017JAPMQ', 0),
 (15595, 'B001CQZ1KU', 0),
 (2967, 'B00QT4I274', 0),
 (17395, 'B000255NAK', 0),
 (1967, 'B0002ARWTA', 0),
 (3818, 'B000W5QSYA', 0),
 (18918, 'B003XV5E9U', 0),
 (13719, 'B00XTOK5OU', 0),
 (7568, 'B0002ARYL6', 0),
 (20057, 'B0017JE6B2', 0),
 (1531, 'B001LWRHA2', 0),
 (9424, 'B000O2APH2', 0),
 (19019, 'B014JOTMOW', 0),
 (20158, 'B0002AQPA2', 0),
 (15773, 'B000JJJ7CE', 0),
 (20642, 'B00061UQ6G', 0),
 (20325, 'B0056F53YC', 0),
 (16356, 'B007IRMTXE', 0),
 (10468, 'B0010B3FIC', 0),
 (18111, 'B001P3NU4E', 0),
 (1627, 'B0017DGFSA', 0),
 (20358, 'B000OX89XI', 0),
 (19728, 'B0002ARR2W', 0),
 (13239, 'B01C47QGPE', 0),
 (18121, 'B00164U144', 0),
 (3140, 'B005VS9WUA', 0),
 (4960, 'B000084ERH', 0),
 (18557, 'B0002I0O5G', 0),
 (9070, 'B003C5TMU4', 0),
 (12765, 'B0002AR17S', 0),
 (15490, 'B000JJJ7CE', 0),
 (4812, 'B000M5SHUS', 0),
 (21600, 'B0002I9O84', 0),
 (3364, 'B0002ASBRM', 0),
 (19629, 'B00N9Y799Y', 0),
 (1392, 'B000OC7PEI', 0),
 (11118, 'B00GZQYLOE', 0),
 (21181, 'B0002AB9FS', 0),
 (11878, 'B00008DFGY', 0),
 (11396, 'B00280MUXU', 0),
 (16662, 'B008WN4NPA', 0),
 (17493, 'B00176CGK8', 0),
 (22093, 'B00E0WK0D6', 0),
 (3197, 'B01EMZ3JSS', 0),
 (1111, 'B0002AR15U', 0),
 (19214, 'B00CLA0RVE', 0),
 (6781, 'B00C97SJK0', 0),
 (19488, 'B00006HI46', 0),
 (17548, 'B000WFIVSQ', 0),
 (2359, 'B00UZKBNLK', 0),
 (4125, 'B004KD9N4W', 0),
 (9801, 'B001B41TOK', 0),
 (3689, 'B007Z8LBZI', 0),
 (3376, 'B0011DKX0C', 0),
 (12340, 'B000S9M2U4', 0),
 (2225, 'B0002I0GVS', 0),
 (4549, 'B00061MWP4', 0),
 (20239, 'B001A5IXRG', 0),
 (3738, 'B0007IOYIE', 0),
 (8360, 'B0006N9I68', 0),
 (4569, 'B000W5QSYA', 0),
 (8164, 'B000WJ2GJ2', 0),
 (6320, 'B000N38CZE', 0),
 (21942, 'B003ANHD9A', 0),
 (18233, 'B005FU4Z8I', 0),
 (16077, 'B00176CT5U', 0),
 (20422, 'B0002AR0II', 0),
 (14681, 'B008FWOCSG', 0),
 (554, 'B000FPJ6QO', 0),
 (18448, 'B0006DQHQM', 0),
 (6047, 'B0014FWMGU', 0),
 (19118, 'B0022KCNPQ', 0),
 (10766, 'B001U8CED2', 0),
 (17586, 'B000WFIVSQ', 0),
 (16442, 'B000W5QSYA', 0),
 (20648, 'B00EI673B6', 0),
 (20947, 'B01CTNQ17G', 0),
 (21963, 'B003ZKEQA2', 0),
 (19157, 'B005ZKVIYC', 0),
 (10415, 'B01ASUNVFC', 0),
 (8995, 'B004XLBVGE', 0),
 (8159, 'B0010B6IFY', 0),
 (19625, 'B007CRC41C', 0),
 (20594, 'B00OLSAX90', 0),
 (6105, 'B0017JBHMS', 0),
 (7930, 'B00008JOL0', 0),
 (17999, 'B000BHR0G4', 0),
 (20804, 'B0089A66T2', 0),
 (1233, 'B0027J5RZA', 0),
 (15317, 'B00BSXNKNC', 0),
 (3300, 'B0002563MW', 0),
 (20976, 'B000795XMY', 0),
 (20020, 'B000XRYXWQ', 0),
 (1988, 'B00ZK0Y7R2', 0),
 (1005, 'B015LXNIW2', 0),
 (8739, 'B0089L4K1C', 0),
 (3780, 'B000A3SKE0', 0),
 (3358, 'B000JJJ7CE', 0),
 (12744, 'B00I0BXQ6Q', 0),
 (9075, 'B001GS71KW', 0),
 (14537, 'B000NVBVCC', 0),
 (1159, 'B008FWOCSG', 0),
 (10588, 'B002C7872M', 0),
 (6378, 'B0002AR17S', 0),
 (15490, 'B0002DGL3K', 0),
 (7113, 'B0009YL2NQ', 0),
 (8596, 'B0009YD8OC', 0),
 (10806, 'B00VC87KYI', 0),
 (12724, 'B0002YFQ6W', 0),
 (17953, 'B0012UEHFQ', 0),
 (1307, 'B0012KB452', 0),
 (10802, 'B0002TJAZU', 0),
 (6207, 'B000WFKTWM', 0),
 (3052, 'B000256ELM', 0),
 (16198, 'B000HHM02M', 0),
 (13579, 'B008FXKOKK', 0),
 (5950, 'B0019QHIR2', 0),
 (1988, 'B01A5OHOIQ', 0),
 (20400, 'B00067P81I', 0),
 (11210, 'B01D2ZSS2G', 0),
 (16504, 'B000K78HRQ', 0),
 (953, 'B0006N3IK0', 0),
 (14423, 'B000W2R75W', 0),
 (9907, 'B00063496C', 0),
 (771, 'B003BYQ100', 0),
 (100, 'B00CVYDGFO', 0),
 (4214, 'B001HBBQKY', 0),
 (3708, 'B007XXZ69C', 0),
 (14126, 'B0090AXWEW', 0),
 (15012, 'B003RQDQPU', 0),
 (15748, 'B000255OIG', 0),
 (10249, 'B000084EEF', 0),
 (4917, 'B003ALMW0M', 0),
 (4859, 'B0002IJQDC', 0),
 (18213, 'B003JFRQQ4', 0),
 (10915, 'B00028DOX0', 0),
 (584, 'B00GRSVTK4', 0),
 (13193, 'B006MLVLDQ', 0),
 (21755, 'B0002DH8L4', 0),
 (16608, 'B001WAFT80', 0),
 (17413, 'B00180WWUM', 0),
 (13502, 'B000VTRI32', 0),
 (79, 'B000W5QSYA', 0),
 (1187, 'B00176BAZK', 0),
 (3231, 'B005CUTY4Q', 0),
 (17737, 'B000YK5W18', 0),
 (11306, 'B0063HPS2E', 0),
 (1533, 'B00KAV98ES', 0),
 (10140, 'B000084EAE', 0),
 (11058, 'B006MUQYI4', 0),
 (19156, 'B0012NV9NQ', 0),
 (7945, 'B001NIZAI0', 0),
 (10902, 'B0002AR0II', 0),
 (8855, 'B007D17A52', 0),
 (6177, 'B000633TU4', 0),
 (7402, 'B0002AR18M', 0),
 (2151, 'B000O5DI3W', 0),
 (19231, 'B00BU44VSM', 0),
 (2526, 'B004VBC0SY', 0),
 (4485, 'B0009YJ3OG', 0),
 (4025, 'B001HYB2P0', 0),
 (17158, 'B00EOOQCKU', 0),
 (4319, 'B00008DFK5', 0),
 (7961, 'B0009YUI86', 0),
 (12087, 'B0002IEYIE', 0),
 (8786, 'B00AQ4D138', 0),
 (11619, 'B00280MUGC', 0),
 (17864, 'B000AU64PK', 0),
 (1445, 'B002R8SLUY', 0),
 (21230, 'B001AQZDSW', 0),
 (21094, 'B0002DK26C', 0),
 (18176, 'B004OZOCTW', 0),
 (22051, 'B000255MZG', 0),
 (13226, 'B000634MH8', 0),
 (6822, 'B0010B6IFY', 0),
 (21217, 'B000YAJKL6', 0),
 (14809, 'B0037Z6VK8', 0),
 (13874, 'B0002C7FI6', 0),
 (7199, 'B008WN4NPA', 0),
 (2259, 'B001A5IXRG', 0),
 (12673, 'B01CY8O876', 0),
 (16493, 'B001BOX9LQ', 0),
 (8354, 'B000JCWB1K', 0),
 (18398, 'B000FJ7RAC', 0),
 (13663, 'B0009ZBKG4', 0),
 (8124, 'B000255NCI', 0),
 (7771, 'B001A5IXRG', 0),
 (579, 'B0012KB47A', 0),
 (10193, 'B0002DHY4K', 0),
 (971, 'B0002I9OA2', 0),
 (12520, 'B0007QA0UW', 0),
 (5152, 'B000BRTADK', 0),
 (2872, 'B00159ZAXC', 0),
 (16558, 'B0009YD8OC', 0),
 (2867, 'B000X958MS', 0),
 (8277, 'B00QHC02EY', 0),
 (19110, 'B00LHY0PJY', 0),
 (5027, 'B000FS4OYA', 0),
 (7363, 'B0002AQY9O', 0),
 (6830, 'B001A5IXRG', 0),
 (1972, 'B0009EUZWA', 0),
 (276, 'B0002AB9FS', 0),
 (13715, 'B000F4AVPA', 0),
 (16725, 'B0012KB4NO', 0),
 (15129, 'B000XJ9PYA', 0),
 (18542, 'B000WFKTWM', 0),
 (9820, 'B001ICRYTY', 0),
 (18043, 'B000A8CUSM', 0),
 (1221, 'B001B1OK26', 0),
 (11761, 'B001ICJGUE', 0),
 (3848, 'B0009YSD6U', 0),
 (21201, 'B002YHL844', 0),
 (12053, 'B000VO9CWC', 0),
 (21928, 'B00AR9GURG', 0),
 (10633, 'B000ILGD66', 0),
 (15575, 'B00176BJ5Q', 0),
 (17180, 'B019EEZFWK', 0),
 (7173, 'B00MAKM3BC', 0),
 (12712, 'B000MD57PS', 0),
 (3499, 'B000084F45', 0),
 (11679, 'B007RBB6UI', 0),
 (3184, 'B0010B8YT2', 0),
 (13388, 'B01AJJOJGC', 0),
 (16971, 'B002AN8LBA', 0),
 (20149, 'B0012KB466', 0),
 (11422, 'B0002YFC9I', 0),
 (5713, 'B00P5P8V0Q', 0),
 (20482, 'B000AQPSC4', 0),
 (4159, 'B00BU44VSM', 0),
 (18093, 'B000WHUOEI', 0),
 (1046, 'B0002DIO4E', 0),
 (22022, 'B0017JE6B2', 0),
 (2815, 'B004U8Z436', 0),
 (7709, 'B001BOX9LQ', 0),
 (4401, 'B00XIL2SUS', 0),
 (20686, 'B004A7X218', 0),
 (5088, 'B006JVPL6W', 0),
 (8203, 'B004488VQ4', 0),
 (10507, 'B00MU2F1RI', 0),
 (7675, 'B000FMDIL6', 0),
 (6219, 'B00PPIGZ1K', 0),
 (6846, 'B000084EEC', 0),
 (7169, 'B00R8F13CY', 0),
 (20932, 'B003R0LM2U', 0),
 (3549, 'B00CPDWT2M', 0),
 (6741, 'B000WJ0I9M', 0),
 (19700, 'B0002HBMYO', 0),
 (242, 'B0002DGL3K', 0),
 (17300, 'B005OTY3O6', 0),
 (767, 'B00PQ0FJGE', 0),
 (8167, 'B0012KCUPK', 0),
 (9088, 'B001LNSSH2', 0),
 (17092, 'B00N9Y799Y', 0),
 (1084, 'B0035H9LW8', 0),
 (5886, 'B00B1G9LS4', 0),
 (2257, 'B000OX89XI', 0),
 (9135, 'B0002ASPT6', 0),
 (10191, 'B0017JAPMQ', 0),
 (349, 'B003PRI6OC', 0),
 (447, 'B000S9M2U4', 0),
 (11933, 'B004CRFM4G', 0),
 (9911, 'B0137RB2G8', 0),
 (11348, 'B003P9XFSM', 0),
 (13501, 'B004PJ55KC', 0),
 (12829, 'B000UGB9EA', 0),
 (13192, 'B0021L8WO2', 0),
 (20414, 'B0002563O0', 0),
 (954, 'B00R3G8D8A', 0),
 (1706, 'B00134FQZQ', 0),
 (21888, 'B004B3WWC6', 0),
 (13360, 'B00KAV98ES', 0),
 (4684, 'B001PKTWDA', 0),
 (13518, 'B0002DIRXC', 0),
 (22157, 'B005OTJWPG', 0),
 (15860, 'B0007A0AP8', 0),
 (8071, 'B0017JTVIU', 0),
 (4845, 'B0002I0RNK', 0),
 (227, 'B00U1F6TO0', 0),
 (7975, 'B005AP3B8S', 0),
 (6325, 'B00S82T7WY', 0),
 (18288, 'B004BZU2LM', 0),
 (8360, 'B0043AWFSI', 0),
 (13698, 'B000O5DI3W', 0),
 (6606, 'B007GCMCVU', 0),
 (1343, 'B0002ARTYI', 0),
 (17651, 'B003BYQ0A6', 0),
 (14029, 'B00QAVNODI', 0),
 (6169, 'B0018CDVEQ', 0),
 (17908, 'B0002X311U', 0),
 (11492, 'B005E2S77C', 0),
 (20893, 'B000A7UZA8', 0),
 (8069, 'B0000AH9UH', 0),
 (13578, 'B0017JAQF2', 0),
 (13587, 'B00280MUXU', 0),
 (14248, 'B00LHYFVKW', 0),
 (17560, 'B000255PFI', 0),
 (8214, 'B0002AS1CC', 0),
 (13759, 'B003YC71K8', 0),
 (10671, 'B015DV0O9C', 0),
 (6392, 'B00LCIV210', 0),
 (1485, 'B017RMTYEG', 0),
 (12371, 'B0042FK0N6', 0),
 (3196, 'B002JPD76I', 0),
 (17300, 'B0002J1FOO', 0),
 (20311, 'B000W5QSYA', 0),
 (7816, 'B007OT50TG', 0),
 (16906, 'B0002IEYIE', 0),
 (12416, 'B0002AR17S', 0),
 (4115, 'B001B4TV2W', 0),
 (13769, 'B007RBB4XW', 0),
 (10241, 'B000W2R75W', 0),
 (11435, 'B0002DGL26', 0),
 (3185, 'B001P05K6I', 0),
 (6793, 'B0017JTVF8', 0),
 (14363, 'B000VO9CWC', 0),
 (15778, 'B001AZQXGY', 0),
 (8336, 'B001CQRZWC', 0),
 (5547, 'B0002BSMDE', 0),
 (12306, 'B001EE5LEQ', 0),
 (12328, 'B019EOQ6AK', 0),
 (16975, 'B001VJ0BSK', 0),
 (4785, 'B00BSXNKNC', 0),
 (9472, 'B001TLS0B0', 0),
 (21675, 'B00B5JJZG0', 0),
 (17651, 'B000Y8UOK4', 0),
 (7259, 'B000XY7C7C', 0),
 (22114, 'B00ODRO7W8', 0),
 (3880, 'B00BSYR7K8', 0),
 (9662, 'B00EOOQCKU', 0),
 (15209, 'B0002BSMDE', 0),
 (8385, 'B00EOOQCKU', 0),
 (9661, 'B0043EAZ68', 0),
 (21670, 'B000QOIX4U', 0),
 (19212, 'B0014HYCM0', 0),
 (13713, 'B01FXC7JWQ', 0),
 (7431, 'B00OIAGTRQ', 0),
 (17822, 'B000GL8HNA', 0),
 (16968, 'B00HI762M8', 0),
 (9121, 'B00OTQDAXK', 0),
 (9103, 'B0017JBYAS', 0),
 (149, 'B00PQ5UH0C', 0),
 (10865, 'B00T76GKJS', 0),
 (19626, 'B0012KB466', 0),
 (5911, 'B0012LHMTI', 0),
 (2585, 'B00A8I3ME0', 0),
 (7134, 'B00DR940MA', 0),
 (20701, 'B00176CT5U', 0),
 (2719, 'B0009YD810', 0),
 (4743, 'B0015AM778', 0),
 (3113, 'B00176CT5U', 0),
 (10510, 'B0171WU946', 0),
 (18293, 'B00176BJ5Q', 0),
 (5949, 'B0012KH06Y', 0),
 (8292, 'B0002H3ZLM', 0),
 (9608, 'B000Z3IQ0S', 0),
 (123, 'B01E7514WQ', 0),
 (12129, 'B0002H3ZLM', 0),
 (655, 'B000ND8XFS', 0),
 (13083, 'B00RO3Y5AW', 0),
 (7335, 'B003M0EJ2A', 0),
 (9309, 'B00CNTBDRA', 0),
 (14712, 'B000255NAK', 0),
 (9104, 'B000L3XYZ4', 0),
 (14389, 'B0010B8YT2', 0),
 (15627, 'B005CQARAA', 0),
 (2733, 'B000FULD24', 0),
 (19243, 'B00280MUGC', 0),
 (7220, 'B0006VB3SQ', 0),
 (16813, 'B0002DHXX2', 0),
 (8926, 'B00H6ZU4YY', 0),
 (19250, 'B008FXKOKK', 0),
 (8616, 'B000OUOYH6', 0),
 (5794, 'B0012LHMTI', 0),
 (9416, 'B00280MUXU', 0),
 (20425, 'B0002568ZO', 0),
 (4947, 'B001NIZAH6', 0),
 (21215, 'B0002565TI', 0),
 (6732, 'B002C7872M', 0),
 (3771, 'B0090Z9B5G', 0),
 (8637, 'B00HRQAI3Y', 0),
 (15403, 'B0057LAH6E', 0),
 (8970, 'B000FSHBYK', 0),
 (4576, 'B0002566WO', 0),
 (771, 'B000F9JJJE', 0),
 (14716, 'B0002DK26C', 0),
 (16923, 'B00CPDWT2M', 0),
 (6749, 'B0002DHXX2', 0),
 (523, 'B0000AH9UH', 0),
 (8225, 'B0017JTVF8', 0),
 (14312, 'B005GYLXSI', 0),
 (19541, 'B00QX1UZEQ', 0),
 (19206, 'B000YAJKL6', 0),
 (7360, 'B003ZNRDT0', 0),
 (17682, 'B000S9M2U4', 0),
 (14139, 'B00061MO7K', 0),
 (13497, 'B006MUQYI4', 0),
 (14700, 'B000CR1FIM', 0),
 (10249, 'B00KQGRIKI', 0),
 (13538, 'B00061MO7K', 0),
 (2978, 'B001NIZAI0', 0),
 (765, 'B0089A66T2', 0),
 (15601, 'B000BTBOB4', 0),
 (4535, 'B0002YOVHC', 0),
 (16392, 'B00IGEP1NS', 0),
 (14802, 'B00BP5H71O', 0),
 (5219, 'B00C66AHJU', 0),
 (9585, 'B0011MRVIU', 0),
 (9308, 'B000WFPW4M', 0),
 (14369, 'B000255NIC', 0),
 (4050, 'B00176F466', 0),
 (19196, 'B00006IX59', 0),
 (11111, 'B000241NRI', 0),
 (2464, 'B01GJJHPLC', 0),
 (7125, 'B0063PK6DM', 0),
 (4227, 'B0183H0Z8I', 0),
 (399, 'B0027JCRVW', 0),
 (17551, 'B000296N7S', 0),
 (10677, 'B000W2R75W', 0),
 (6130, 'B0002DK9L0', 0),
 (4277, 'B007D17A52', 0),
 (15235, 'B000KEVF1O', 0),
 (8327, 'B00JZIDDWK', 0),
 (18015, 'B0012KH0IC', 0),
 (19604, 'B00H8MDLUE', 0),
 (387, 'B0032G70FW', 0),
 (6651, 'B000274674', 0),
 (3934, 'B004J185LC', 0),
 (20220, 'B004XVPAJI', 0),
 (11011, 'B000I82DU4', 0),
 (12823, 'B000LBN8YS', 0),
 (18258, 'B00AOAT0PC', 0),
 (13562, 'B0002AR0II', 0),
 (3097, 'B0006DQHQM', 0),
 (8454, 'B001G0NL2W', 0),
 (17978, 'B0006N9I68', 0),
 (8543, 'B001A5IXRG', 0),
 (10717, 'B0009YS90K', 0),
 (21865, 'B0002ARQV4', 0),
 (5482, 'B00OIAGTRQ', 0),
 (1517, 'B00D8QHWXQ', 0),
 (7746, 'B007IRMTXE', 0),
 (18775, 'B000X98CN0', 0),
 (16833, 'B000LPOUNW', 0),
 (9187, 'B000634MH8', 0),
 (14913, 'B0006ABVGQ', 0),
 (13673, 'B000F6PVXU', 0),
 (9150, 'B00176BAZK', 0),
 (17807, 'B005KSOBVG', 0),
 (10818, 'B000084EEC', 0),
 (20794, 'B00BYVX9ZW', 0),
 (16753, 'B0013MVJPY', 0),
 (260, 'B001QE7LFG', 0),
 (18882, 'B0114BNXQ6', 0),
 (21466, 'B00D078UCK', 0),
 (8727, 'B000084ERR', 0),
 (7767, 'B000NVBVIQ', 0),
 (2740, 'B007K6CPU0', 0),
 (11738, 'B000IVGBFY', 0),
 (8171, 'B004PJ55KC', 0),
 (8449, 'B00134FQZQ', 0),
 (12694, 'B00061MO7K', 0),
 (7469, 'B000NE2UH4', 0),
 (7131, 'B001650NNW', 0),
 (11285, 'B000WT8REK', 0),
 (14182, 'B001707OAG', 0),
 (21349, 'B001B41TOK', 0),
 (3789, 'B00XSYLODC', 0),
 (22123, 'B00JZHRXJU', 0),
 (21916, 'B0012GWCPM', 0),
 (5453, 'B003V4M1NG', 0),
 (21422, 'B00079PHV6', 0),
 (10726, 'B01CCP1UPY', 0),
 (13730, 'B001PKTWDA', 0),
 (3045, 'B0016HPTFW', 0),
 (13376, 'B000OX89XI', 0),
 (6053, 'B000VAK20C', 0),
 (17929, 'B00J36A9MQ', 0),
 (18898, 'B007Z8LBZI', 0),
 (1787, 'B004XLBVGE', 0),
 (9408, 'B006JVQ67K', 0),
 (4510, 'B0009YD8OC', 0),
 (21628, 'B0056XCK72', 0),
 (18244, 'B001JQLKUS', 0),
 (14830, 'B000WFRQ96', 0),
 (9981, 'B0012NV9NQ', 0),
 (10257, 'B00176CT5U', 0),
 (10290, 'B000Z3IQ0S', 0),
 (15111, 'B0103L92TK', 0),
 (17035, 'B0017JAOJK', 0),
 (18850, 'B002AV3NGA', 0),
 (15044, 'B006JVQ67K', 0),
 (14274, 'B0025YKUIQ', 0),
 (19574, 'B006OCG4JY', 0),
 (1786, 'B0002AQCL4', 0),
 (4969, 'B000084F45', 0),
 (18798, 'B007FMY3K4', 0),
 (18649, 'B000O5DI3W', 0),
 (13266, 'B000YAJKL6', 0),
 (5451, 'B0050NDNXS', 0),
 (17490, 'B00176BAZK', 0),
 (15502, 'B003ZYF1R0', 0),
 (3195, 'B000FI2VL8', 0),
 (10702, 'B001HBBQKY', 0),
 (9522, 'B000DLBCSU', 0),
 (13515, 'B000VP8NQ2', 0),
 (908, 'B001707OAG', 0),
 (19782, 'B007MQMNCS', 0),
 (17868, 'B00337KW8M', 0),
 (11933, 'B005OPZYN4', 0),
 (18600, 'B004ABC13Y', 0),
 (7928, 'B000F4AVPA', 0),
 (8736, 'B0002DHXX2', 0),
 (14200, 'B000JCWAWA', 0),
 (19717, 'B00ET0M31G', 0),
 (4915, 'B00YORXQSS', 0),
 (20575, 'B00H1CLRA2', 0),
 (7548, 'B003ARUKTG', 0),
 (9957, 'B003P9XFSM', 0),
 (18901, 'B00MAKM3BC', 0),
 (12465, 'B01EHX2BH0', 0),
 (20406, 'B0012KK4KI', 0),
 (20836, 'B00J9Q4UFM', 0),
 (10398, 'B007SWZ7Y2', 0),
 (19836, 'B006JVPLCQ', 0),
 (15735, 'B005NK5DEU', 0),
 (2873, 'B0002J1F7G', 0),
 (13280, 'B00ZK1IBN2', 0),
 (2149, 'B000VTRI32', 0),
 (10178, 'B0030IS43O', 0),
 (3707, 'B0013MVJPY', 0),
 (13009, 'B005JQ2F62', 0),

In [42]:
#Now since we are going to make the final prediction using a random forest we need to estimate the rankings using 
#the 2 models that we used for the random forest to get our estimators as features
pred_test1 = cb.test(test_Student3)
pred_test2= svdpp.test(test_Student3)

pred_test1X = pd.DataFrame(pred_test1)
pred_test2X = pd.DataFrame(pred_test2)

In [49]:
#we make a copy of the first prediction to have information on the UID and IID and then create a new colum with our new estimation
pred_Final= pred_test1X.copy()
pred_Final["est2"] = pred_test2X["est"]

In [50]:
pred_Final

         uid         iid  r_ui       est                    details      est2
0      21069  B00BFK2B24     0  2.998970  {'was_impossible': False}  3.462619
1       3506  B00ZK0Y7R2     0  3.665980  {'was_impossible': False}  4.053180
2      21907  B0002AQPA2     0  3.714286  {'was_impossible': False}  4.004820
3      14092  B0002DHXX2     0  4.600000  {'was_impossible': False}  4.517821
4       3085  B0006VB3SQ     0  4.250000  {'was_impossible': False}  4.103033
...      ...         ...   ...       ...                        ...       ...
76038   9343  B004GFN2ZA     0  4.833333  {'was_impossible': False}  4.494189
76039  17932  B000JZOQO2     0  5.000000  {'was_impossible': False}  4.402563
76040  14272  B005440HLO     0  4.833333  {'was_impossible': False}  3.872394
76041  11151  B0002VAZSY     0  3.000000  {'was_impossible': False}  4.163376
76042  12400  B002JM0DOA     0  4.444301  {'was_impossible': False}  4.074504

[76043 rows x 6 columns]

In [52]:
#We transform our table into a dataframe with only our 2 estimators to run the random forest on it
pred_Final["ID"]= pred_Final["uid"].astype(str)+pred_Final["iid"]
pred_Final["als_pred"] = pred_Final["est"]
pred_Final["svdpp_pred"] = pred_Final["est2"]
pred_Final = pred_Final[["ID","als_pred","svdpp_pred"]]
pred_Final=pred_Final.set_index("ID")
pred_Final

                 als_pred  svdpp_pred
ID
21069B00BFK2B24  2.998970    3.462619
3506B00ZK0Y7R2   3.665980    4.053180
21907B0002AQPA2  3.714286    4.004820
14092B0002DHXX2  4.600000    4.517821
3085B0006VB3SQ   4.250000    4.103033
...                   ...         ...
9343B004GFN2ZA   4.833333    4.494189
17932B000JZOQO2  5.000000    4.402563
14272B005440HLO  4.833333    3.872394
11151B0002VAZSY  3.000000    4.163376
12400B002JM0DOA  4.444301    4.074504

[76043 rows x 2 columns]

In [53]:
#we predict using our random forest and get the final predictions
FINAL_FINAL_PRED = rf_model.predict(pred_Final)

FINAL_FINAL_PRED

In [55]:
# we replace our previous prediciton with the final one made from the random forest
pred_Final["Overall"]= FINAL_FINAL_PRED
pred_Final = pred_Final["Overall"]

In [56]:
pred_Final =pd.DataFrame(pred_Final)

In [57]:
pred_Final

                  Overall
ID
21069B00BFK2B24  3.558718
3506B00ZK0Y7R2   4.110485
21907B0002AQPA2  4.045830
14092B0002DHXX2  4.395292
3085B0006VB3SQ   4.121433
...                   ...
9343B004GFN2ZA   4.582466
17932B000JZOQO2  4.621515
14272B005440HLO  4.203029
11151B0002VAZSY  4.067785
12400B002JM0DOA  4.069246

[76043 rows x 1 columns]

In [ ]:
#we save the prediction on a CSV to upload it to kaggle
pred_Final.to_csv('./Data/kaggle.csv')

In [ ]:
#Predictions with SVDPP
pred_test1 = svdpp.test(test_Student3)
pred_test1X = pd.DataFrame(pred_test1)
pred_test1X["ID"]= pred_test1X["uid"].astype(str)+pred_test1X["iid"]
pred_test1X["overall"] = pred_test1X["est"]
pred_test1X = pred_test1X[["ID","overall"]]
pred_test1X=pred_test1X.set_index("ID")
pred_test1X

In [ ]:
#we save the prediction on a CSV to upload it to kaggle
pred_test1X.to_csv('./Data/kaggle.csv')

In [ ]:
#conclusion
#I discovered a pattern that seems to indicate the higher the number of factors and epoch the lower the RMKSso we tried a new
# gridserach with higer values of those parameters, and thus this worked best that the previous Random forest that we used
# there is a probability that if we apply a hybrid model with the new SVDpp model we can get even better results but due to time constraints we were unable to try them